<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="0.10.0-build17704" targetFramework="win81" />
  <package id="Microsoft.ApplicationInsights.RuntimeTelemetry" version="0.10.0-build17704" targetFramework="win81" />
  <package id="Microsoft.ApplicationInsights.WindowsStore" version="0.10.0-build17704" targetFramework="win81" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="win81" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="win81" />
  <package id="System.Spatial" version="5.6.0" targetFramework="win81" />
  <package id="WindowsAzure.Storage" version="4.2.1" targetFramework="win81" />
</packages>